[submodule "submodules/android-store"]
	path = development/submodules/android-store
	url = git@github.com:spaceinch/android-store.git
[submodule "submodules/ios-store"]
	path = development/submodules/ios-store
	url = git@github.com:spaceinch/ios-store.git
